/*-----------------------------------------------------------------------------------

    Template Name: Appro HTML5 Template,
    Template URI: http://appro.intimissibd.com
    Description: This is html5 template
    Author: ThemeCTG
    Author URI: http://themectg.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
    1. Google font
	2. Theme Default CSS (body, link color, section etc)   
-----------------------------------------------------------------------------------*/


/*-----------------
1. Google font
------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*-------------------
2. Theme Default CSS
--------------------*/

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.fix {
    overflow: hidden;
}

a {
    text-decoration: none;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #303030;
}

.btn.focus,
.btn:focus,
.btn:hover,
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    font-weight: 600;
}

h1 {
    font-size: 40px;
}

p span,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: #2fccd0;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #606060;
}


/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

#maps {
    width: 100%;
    height: 500px;
}

.coming-soon{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #ffffff91;
    z-index: 1;
}
.coming-soon h4 {
    text-align: center;
    margin-top: 20%;
    color: #4f6eb9;
    text-shadow: 2px 2px 1px #fff;
    font-size: 30px;
}

.single-sign-title {
    margin-top: -80px;
    font-size: 32px;
    text-align: center;
    color: #416ba2;
}
.ifooter {
    background-color: #2a3875;
}

/*Calendar table*/
.calendar-table {
    margin-top: 20px;
}
.calendar-table td {
    border: 1px solid #e8e8e8;
    width: 60px;
    height: 55px;
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 5px;
    position: relative;
}
.calendar-table td:hover {
    background-color: #f1f8ff;
}
.calendar-table th {
    border: 1px solid #e8e8e8;
    width: 55px;
    height: 30px;
    text-align: center;
    padding: 5px;
}
.calendar-table td h5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
}
.calendar-table td span {
    font-size: 11px;
    color: #b5b5b5;
}
.calendar-table td p {
    font-size: 11px;
    margin-top: 0;
    font-weight: 400;
    color: #72ab4b;
    text-align: center;
}
.calendar-table p un {
    font-size: 8px;
    color: #797676;
}
.calendar-table .cell-disabled {
    background-color: #ccc !important;
    cursor: auto;
}
.calendar-table .calendar-disable-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*Price table*/
.booking-form {
    padding: 10px;
    box-shadow: 2px 2px 10px 3px #f5f5f5;
}
.price-table {
    width: 100%;
}
.price-table .total-row {
    border-top: 1px solid #e8e8e8;
    font-weight: 600;
    font-size: 16px;
}
.price-table .gst-row {
    border-top: 1px solid #f5f5f5;
    font-weight: 500;
}
.price-table th {
    font-size: 16px;
    color: #5a7cd0;
    height: 45px;
}
.price-table td, .price-table th {
    padding-left: 10px;
}
.booking-form img {
    margin-bottom: 20px;
}
.booking-form button {
    margin-top: 20px;
    transition: all .2s ease-in-out;
}
.booking-form button:hover {
    color: #97ffb3;
}

/*Upload img*/
.upload-img-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: all .3s ease-in-out;
}
.upload-img-overlay p, .upload-img-overlay h4 {
    text-align: center;
    color: #FFFF;
}
.upload-img-overlay span {
    font-size: 11px;
    color: #d7d7d7;
}
.upload-img-overlay:hover {
    opacity: 1;
}

.input-error label, .input-error input {
    color: #d5000e;
}
.input-error input {
    border: 1px solid #d5000e;
}

.invoice {
    border: 1px solid #64acad6b;
}
.invoice .header {
    padding: 20px;
    background-color: #65acad;
}
.invoice .header h2 {
    font-size: 40px;
    color: #fff;
}
.invoice .header a {
    color: #fff;
}
.invoice .info {
    margin-top: 50px;
}

.invoice .info .big-total {
    text-align: right;
}
.invoice .info .big-total h4 {
    color: #64acad;
    font-size: 32px;
}
.invoice .border {
    height: 2px;
    margin-top: 30px;
    width: 100%;
    background-color: #64acad;
}
.table img {
    width: 100%;
    max-width: 150px;
}
.table {
    margin-top: 20px;
}
.table tbody tr {
    border-bottom: 1px solid #efefef;
}
.invoice .footer-text {
    margin-top: 30px;
    font-size: 10px;
    text-align: center;
}

@media (max-width: 992px) {
    .upload-img-container {
        margin-top: 300px;
    }
}
