<form action="#">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="text" class="form-control" name="name" placeholder="Name">
            <div class="space-15"></div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <input type="email" class="form-control" name="email" placeholder="Email">
            <div class="space-15"></div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-4">
            <input type="text" class="form-control" name="subject" placeholder="Subject">
            <div class="space-15"></div>
        </div>
        <div class="col-xs-12">
            <textarea name="message" id="message" rows="5" class="form-control" placeholder="Message"></textarea>
            <div class="space-15"></div>
        </div>
        <div class="col-xs-12">
            <button class="btn btn-link">Post comment</button>
        </div>
    </div>
</form>